| {{ partial "head.html" . }}

body
    .wrap
        .section#title
            | {{ .Title }}
        .section#content
            | {{ .Date.Format (.Site.Params.dateForm | default "") }} &#183; {{ .WordCount }} words
            |
            | {{ with .Params.tags }}
            div
                | {{ range . }}
                span#tag
                    a(href!='{{ "tags/" | absURL }}{{ . | urlize }}') {{.}}
                | {{ end }}
            | {{ end }}
            hr
            | {{ .Content }}
        .section.bottom-menu
              | {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
        .section.footer
            | {{ partial "footer.html" . }}
