{{ partial "head.html" . }}<body><div class="wrap"><div class="section" id="content"><h1>{{ .Title }}</h1><p>{{ .Content }}</p><ul>{{ range .Data.Pages }}<li>
{{ if .Params.showDate }}

{{ .Date.Format (.Site.Params.dateForm | default "")}} --

{{ end }}<a href="{{ (.Params.Link | default .Permalink) }}" target="{{ .Params.target }}">{{.Title}}</a> {{.Params.Read}}</li>{{ end }}</ul></div>{{ if .Site.Params.mainMenu }}<div class="section bottom-menu">{{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}</div>{{ end }}<div class="section footer">{{ partial "footer.html" . }}</div></div></body>